@font-face {
  font-family: 'CREDC__';
  src: url('./assets/fonts/CREDC___.ttf') format('truetype');
}

@font-face {
  font-family: 'Louis George';
  src: url('./assets/fonts/Louis George Cafe.ttf') format('truetype'),
    url('./assets/fonts/Louis George Cafe Bold.ttf') format('truetype'),
    url('./assets/fonts/Louis George Cafe Light.ttf') format('truetype');
}
